.mainDiv {
  height: calc(100vh - 100px);
  width: 100vw;
}

.mainDiv video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainDiv .mainText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 60%;
  padding: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%);
}

.mainText > h1 {
  color: black;
  font-size: 85px;
  font-weight: bold;
  flex: 100%;
}

.mainText > p {
  color: black;
  font-size: 32px;
  flex: 100%;
}

@media screen and (max-width: 960px) {
  .mainText {
    position: absolute;
    left: 50px;
  }
  .mainText > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .mainText {
    position: absolute;
    left: 50px;
  }
  .mainText > h1 {
    font-size: 50px;
  }

  .mainText > p {
    font-size: 22px;
  }
}
