.mainDiv {
  height: 85vh;
  width: 100vw;
}

.mainDiv video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.mainDiv .mainText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 15vw;
  padding-top: 5vh;
}

.mainText > h1 {
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
}

.mainText > p {
  color: black;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .mainText > h1 {
    font-size: 4rem;
  }
  .mainText > p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 560px) {
  .mainText > h1 {
    font-size: 3rem;
  }
  .mainText > p {
    font-size: 1rem;
  }
  .mainDiv .mainText {
    text-align: center;
    align-items: center;
    padding-left: 0;
    padding-top: 10vh;
  }
}